DataFactoryy1/PartialArmTemplates/ArmTemplate_10_30_2020_17_13_16.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataFactoryy1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapBwSource",
								"query": "SELECT\n\t{ [Measures].[624IRRSR9LDWI932059BH0PM2],\n\t[Measures].[624IRRSR9LDWI932059BH246I],\n\t[Measures].[624IRRSR9LDWI932059BH2GTM] } ON COLUMNS,\n\tNON EMPTY\n\t{ [0BILL_TYPE].[LEVEL01].MEMBERS *\n\t[0COMP_CODE].[LEVEL01].MEMBERS *\n        [0DOC_NUMBER].[LEVEL01].MEMBERS *\n        [0CALDAY].[LEVEL01].MEMBERS *\n\t[0CALMONTH2].[LEVEL01].MEMBERS } ON ROWS\nFROM ZASSDM02/ZASSD_EXPORTACIONES_02_PBI\nSAP VARIABLES [ZYCAP0] INCLUDING '2020' [ZITMES] INCLUDING '10'"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapBwCube1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "[[0BILL_TYPE].[LEVEL01].[MEMBER_CAPTION]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "[[0BILL_TYPE].[LEVEL01].[MEMBER_CAPTION]",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "[[0COMP_CODE].[LEVEL01].[MEMBER_CAPTION]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "[[0COMP_CODE].[LEVEL01].[MEMBER_CAPTION]",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "[[0DOC_NUMBER].[LEVEL01].[MEMBER_CAPTION]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "[[0DOC_NUMBER].[LEVEL01].[MEMBER_CAPTION]",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "[[0CALDAY].[LEVEL01].[MEMBER_CAPTION]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "[[0CALDAY].[LEVEL01].[MEMBER_CAPTION]",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "[[0CALMONTH2].[LEVEL01].[MEMBER_CAPTION]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "[[0CALMONTH2].[LEVEL01].[MEMBER_CAPTION]",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "[[Measures].[624IRRSR9LDWI932059BH0PM2]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "[[Measures].[624IRRSR9LDWI932059BH0PM2]",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "[[Measures].[624IRRSR9LDWI932059BH246I]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "[[Measures].[624IRRSR9LDWI932059BH246I]",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "[[Measures].[624IRRSR9LDWI932059BH2GTM]",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "[[Measures].[624IRRSR9LDWI932059BH2GTM]",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SapBwCube1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapBwSource",
								"query": "SELECT\n\t{ [Measures].[624IRRSR9LDWI932059BH0PM2],\n\t[Measures].[624IRRSR9LDWI932059BH246I],\n\t[Measures].[624IRRSR9LDWI932059BH2GTM] } ON COLUMNS,\n\tNON EMPTY\n\t{ [0BILL_TYPE].[LEVEL01].MEMBERS *\n\t[0COMP_CODE].[LEVEL01].MEMBERS *\n        [0DOC_NUMBER].[LEVEL01].MEMBERS *\n        [0CALDAY].[LEVEL01].MEMBERS *\n\t[0CALMONTH2].[LEVEL01].MEMBERS } ON ROWS\nFROM ZASSDM02/ZASSD_EXPORTACIONES_02_PBI\nSAP VARIABLES [ZYCAP0] INCLUDING '2020' [ZITMES] INCLUDING '10'"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapBwCube1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SapBwCube1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "DB1",
					"table": "TABLE1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sapbw.csv",
						"fileSystem": "container11"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "[[0BILL_TYPE].[LEVEL01].[MEMBER_CAPTION]",
						"type": "String"
					},
					{
						"name": "[[0COMP_CODE].[LEVEL01].[MEMBER_CAPTION]",
						"type": "String"
					},
					{
						"name": "[[0DOC_NUMBER].[LEVEL01].[MEMBER_CAPTION]",
						"type": "String"
					},
					{
						"name": "[[0CALDAY].[LEVEL01].[MEMBER_CAPTION]",
						"type": "String"
					},
					{
						"name": "[[0CALMONTH2].[LEVEL01].[MEMBER_CAPTION]",
						"type": "String"
					},
					{
						"name": "[[Measures].[624IRRSR9LDWI932059BH0PM2]",
						"type": "String"
					},
					{
						"name": "[[Measures].[624IRRSR9LDWI932059BH246I]",
						"type": "String"
					},
					{
						"name": "[[Measures].[624IRRSR9LDWI932059BH2GTM]",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapBwCube1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SapBwPRD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SapBwCube",
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SapBwPRD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://datalak1.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStore1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "AzureDataLakeStore1 Descripción",
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "https://datalakestoragegen2.azuredatalakestore.net/webhdfs/v1",
					"tenant": "b58d9729-3020-4953-b56e-1a6a85a7ab15",
					"subscriptionId": "5e8ce0c2-6127-4ef8-88e3-01ff2fc406bb",
					"resourceGroupName": "AnalyticsRG"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapBw1Desarrollo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP BW Desarrollo",
				"annotations": [],
				"type": "SapBw",
				"typeProperties": {
					"server": "192.168.9.68",
					"systemNumber": "00",
					"clientId": "300",
					"userName": "scasanova",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapBwPRD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP BW PRD",
				"annotations": [],
				"type": "SapBw",
				"typeProperties": {
					"server": "192.168.9.85",
					"systemNumber": "00",
					"clientId": "300",
					"userName": "fmarin",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		}
	]
}